body {
    width: 100vw;
    overflow-x: hidden;

    #deleteList{
        text-align: center;
        margin: auto;
        display: block;
    }
    #deleteList{
        text-align: center;
        margin: auto;
        display: block;
    }

    #deleteList:hover{
        background-color: lightcoral;
    }


background-color: aliceblue;
    
}

#picHead{
    width: 104vw;
    background-color: lightsteelblue;
    height: 10vh;
    margin-top: -2.5vh;
    margin-left: -2vw;
    border-bottom: 2px solid black;
    h1{
        padding-top: 2vh;
        text-align: center;
        text-decoration: underline;
        color:black;
        
    }
}

#addTodo{
    display: block;
    margin-top: 5vh;
    position: relative;
    text-align: center;
   


    width: 50vw;
       border: 1px solid black;
       background-color: lightgoldenrodyellow;
       height: fit-content;
       margin: auto;
       margin-top: 5vh;
       padding: 1%;
    button:hover{
        background-color: lightgreen;
    }

    button {
        border: 2px solid black;
    }

    input{
        border: 2px solid black;
    }

    select {
        border: 2px solid black;
    }
    p{
        font-weight: 700;
    }

    
}


#todoList{
    display: block;
    text-align: center;
    margin: auto;
    width: 95vw;


    li{
        list-style: none;
        padding: 1%;
        background-color: wheat;
        width: 50vw;
        margin: auto;
        margin-top: 2%;
        border: 1px solid black;
        border-radius: 10px;
        button:hover{
            background-color: lightgreen;
        }

        div{
            display: block;
            width: 50vw;
            text-align: left;
            word-wrap: break-word;
            white-space: normal;
        }
        p {
            background-color: aliceblue;
            border: 1px solid black;
            border-radius: 10px;
            padding: 1%;
        }
       
        
        
    }
.completed {
    text-decoration: line-through;
}

.deleteButton:hover {
    background-color: lightcoral;
}
}

//-------------------------------------------------------------//
//-------------------------------------------------------------//
//-------------------------------------------------------------//

@media screen and (max-width: 800px) {

    #addTodo {
       
       width: 60vw;
       border: 1px solid black;
       background-color: lightgoldenrodyellow;
       height: fit-content;
       margin: auto;
       margin-top: 5vh;
       padding: 1%;
       input{
        margin-top: 0.5vh;
       }
       button{
        margin-top: 1vh;
       }
    }

    #todoList{
        display: block;
        text-align: center;
        width: 95vw;
        margin-left: -10vw;
    
        li{
            list-style: none;
            padding: 1%;
            background-color: wheat;
            width: 80vw;
            margin: auto;
            margin-top: 2%;
            border: 1px solid black;
            border-radius: 10px;
            button:hover{
                background-color: lightgreen;
            }
    
            div{
                display: block;
                width: 80vw;
                text-align: left;
                word-wrap: break-word;
                white-space: normal;
            }
            
        }
    
}
#picHead{
    width: 106vw;
    background-color: lightsteelblue;
    height: 10vh;
    margin-top: -3vh;
    margin-left: -3vw;
    border-bottom: 2px solid black;
    h1{
        padding-top: 4vh;
        text-align: center;
        text-decoration: underline;
        color:black;
        font-size: 160%;
        
    }

}
}

//-------------------------------------------------------------//
//-------------------------------------------------------------//

@media screen and (max-width: 1024px) {

    #todoList{
        display: block;
        text-align: center;
        width: 100vw;
    
        li{
            list-style: none;
            padding: 1%;
            background-color: wheat;
            width: 70vw;
            margin: auto;
            margin-top: 2%;
            border: 1px solid black;
            border-radius: 10px;
            button:hover{
                background-color: lightgreen;
            }
    
            div{
                display: block;
                width: 70vw;
                text-align: left;
                word-wrap: break-word;
                white-space: normal;
            }
            
        }
    
}

}

